.portfolio-container {
    background: linear-gradient(to right, #214150, #203a43, #3a6c82);
    color: white;
    border-radius: 10px;
  }
  
  .section-title {
    color: white;
  }
  
  .filter-buttons {
    margin-bottom: 20px;
  }
  
  .card-content {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .card-info {
    margin-top: 10px;
  }
  
  .visit-button {
    background: linear-gradient(to right, #4a90e2, #8e44ad);
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
  }
  .card-image {
    max-width: 100%;
    height: auto;
  }
  
  .client-image {
    height: 125px;
  }
  